<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <meta name="referrer" content="no-referrer" />
        <link rel="stylesheet" type="text/css" href="../static/css/demo.css">
        <link rel="stylesheet" href="../static/css/buttons.css">

    </head>
    <body>

     <div id="all">
<video id="video" src="http://1255624616.vod2.myqcloud.com/3b73e5e8vodcq1255624616/637eea545285890784058866501/SOBfK9a1KXAA.mp4"  autoplay loop ></video>




    <div class="htmleaf-demo">
     
      <a href="/index/" class="button button-glow button-rounded button-royal" > 进入</a>
    </div>


   <canvas id="canvas" style="display:block;margin:50px auto;">
        
    </canvas>
    </div> 



    </body>
<script src="../static/js/digit.js"></script>
 <script src="../static/js/countdown.js"></script>
</html>